@media only screen and (max-width: 768px) {
  .container {
    width: 100% !important;
    margin: 0 !important;
    height: 100vh !important;
  }
  .ctn {
    -webkit-box-shadow: 0px 5px 4px 0px #00000025;
            box-shadow: 0px 5px 4px 0px #00000025;
    width: 100% !important;
    -webkit-transition: 1s;
    transition: 1s;
  }
  #nav-bar {
    background-color: white !important;
  }
  #main {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  #nav-cc {
    position: absolute;
    top: 18%;
    left: 0;
    height: 1%;
    right: 0;
    text-align: center;
  }
  #nav-cc p {
    font-size: 2vw;
  }
  #black {
    color: #000000;
  }
  .ctn.active {
    overflow: none !important;
    height: 20.9vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    border-radius: 0px 0px 25px 25px;
    z-index: 1;
  }
  .ctn.active #blob-phn {
    position: relative;
    margin-left: auto;
    margin-top: auto;
    width: 50%;
  }
  .ctn.active #logo {
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin-left: 5%;
    margin-top: 5%;
    -webkit-transition: 1s;
    transition: 1s;
  }
  .ctn.active #nav-arrow {
    position: absolute;
    top: 1%;
    right: 5%;
  }
  .active {
    display: block !important;
  }
  #nav-items {
    display: none;
  }
  #nav-items.active {
    position: absolute;
    top: 8%;
    left: 15%;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    height: 5% !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    gap: 40% !important;
  }
  #nav-items.active a {
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
    height: 20% !important;
    padding: 0 !important;
    font-size: 4vw;
  }
  #nav-arrow.active {
    width: 3.02vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #nav-arrow.active img {
    display: inline-block;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    height: 125%;
  }
  #nav-icon {
    height: 100%;
    aspect-ratio: 1/1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #nav-icon img {
    display: inline-block;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    height: 25%;
  }
  .deactive {
    display: none !important;
  }
}

.phone {
  display: none;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #0D508F;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}

#nav-bar {
  justify-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ctn {
  height: 6.73vh;
  width: 100%;
  background-color: white;
  -webkit-box-shadow: -10px -10px 25px 0 #00000025;
          box-shadow: -10px -10px 25px 0 #00000025;
  border-radius: 1.9vw;
}

#nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  margin-right: 1vw;
  height: 100%;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

#nav-items a {
  text-align: center;
  padding: 100% 1.18vw;
}

#logo {
  margin-left: 1.5vw;
  width: 3.02vh;
}

#logo img {
  width: 100%;
}

#main {
  width: 100%;
  height: 200vh;
  overflow: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#arrow img {
  width: 50%;
}

.text {
  font-family: 'Inter', sans-serif;
  color: #0D508F;
}

.container {
  width: 89.93vw;
  height: 220vh;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  gap: 2%;
  position: absolute;
  margin-top: 3.41vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.row-ctn {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
}

.column-ctn {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: column !important;
          flex-direction: column !important;
  height: 100%;
}

.bolded {
  font-weight: 700;
}

#first-nest {
  width: 100%;
  margin-top: 2%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#first-nest p {
  font-size: 2vw;
}

#first-nest #arrow {
  position: absolute;
  left: 5%;
}

#second-nest {
  -ms-flex-item-align: end !important;
      align-self: flex-end !important;
  margin-right: 20%;
  margin-top: 5%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10%;
}

#second-nest form {
  width: 10%;
}

.hidden {
  display: none;
}

#third-nest {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#username {
  font-family: 'Inter', sans-serif;
  font-size: 2vw;
  max-width: 20vw;
}

#body {
  width: 90%;
  height: 100%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
  gap: 2%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title-txt {
  font-family: 'Inter',sans-serif;
  font-size: 2vw;
  width: 100%;
  color: #0D508F;
}

.write-ctn {
  font-family: 'Inter',sans-serif;
  width: 50%;
  height: 80%;
  font-weight: 200;
}

:focus {
  font-weight: 500;
}

#fifth-nest {
  width: 50%;
}

.wrap {
  height: 33%;
}

#qualification {
  font-family: 'Inter',sans-serif;
  max-width: 15vw;
}

#forth-nest {
  width: 50%;
  height: 100%;
}

.button {
  background-color: white;
  width: 27.24vw;
  height: 8.10vh;
  padding: 2%;
  border-radius: 50px;
  -webkit-box-shadow: 0px 4px 4px 0px #00000025;
          box-shadow: 0px 4px 4px 0px #00000025;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden !important;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button p {
  margin-left: 5%;
  font-size: 1.2vw;
}

.button img {
  border-radius: 25px;
  -webkit-box-shadow: -8px 0px 6px 0px #00000025;
          box-shadow: -8px 0px 6px 0px #00000025;
  height: 50%;
  aspect-ratio: 1/1;
  margin-left: auto;
  padding: 5%;
}

#avatar {
  height: 15vh;
  aspect-ratio: 1/1;
  border-radius: 100%;
}

#footer {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 5%;
}

#viniette {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #00000050;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#qr-ctn {
  width: 50vw;
  height: 75vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  border-radius: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#qrtext {
  font-family: 'Inter',sans-serif;
  color: #0D508F;
  font-weight: 700;
  font-size: 1.2vw;
  margin-top: 10%;
}
/*# sourceMappingURL=cv.css.map */