@media only screen and (max-width: 768px) {
    .container{
        width: 100%!important;
        margin:0!important;
        height: 100vh!important;
    }
    .ctn{
        box-shadow: 0px 5px 4px 0px #00000025;
        width: 100%!important;
        transition:1s;
    }
    #nav-bar{
        background-color: white!important;
    }
    #main{
        box-shadow: none;
    }
    #nav-cc{
        position: absolute;
        top: 18%;
        left: 0;
        height: 1%;
        right: 0;
        text-align: center;
        p{
            font-size: 2vw;
        }
    }
    #black{
        color:#000000;
    }
    .ctn.active{
        overflow: none!important;
        height: 20.9vh;
        display: flex;
        flex-direction: row;
        border-radius: 0px 0px 25px 25px;
        z-index: 1;
        #blob-phn{
            position:relative;
            margin-left: auto;
            margin-top: auto;
            width: 50%;
        }
        #logo{
            align-self:flex-start;
            margin-left: 5%;
            margin-top: 5%;
            transition:1s;
        }
        #nav-arrow{
            position: absolute;
            top:1%;
            right:5%;
        }
    }
    .active{
        display: block!important;
    }
    #nav-items{
        display: none;
    }
    #nav-items.active{
        position: absolute;
        top: 8%;
        left: 15%;
        display: flex!important;
        height: 5%!important;
        flex-flow: column nowrap;
        gap: 40%!important;
        a{
            align-self: start;
            height: 20%!important;
            padding: 0!important;
            font-size: 4vw;
        }
    }
    #nav-arrow.active{
        width: 3.02vw;
        display: flex;
        align-items: center;
        img{
            display: inline-block;
            align-self: center;
            height: 125%;
        }
    }
    #nav-icon{
        height: 100%;
        aspect-ratio: 1/1;
        display: flex;
        align-items: center;
        img{
            display: inline-block;
            align-self: center;
            height: 25%;
        }
    }
    .deactive{
        display: none!important;
    }
}
.phone{
    display: none;
}
*{
    margin:0;
    padding: 0;
}
a{
    text-decoration: none;
    color: #0D508F;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}
#nav-bar{
    justify-self: center;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    align-items: center;
    flex-wrap:nowrap;
    justify-content: space-between;
}
.ctn{
    height: 6.73vh;
    width:100%;
    background-color: white;
    box-shadow: -10px -10px 25px 0 #00000025 ;
    border-radius: 1.9vw;
}
#nav-items{
    display: flex;
    flex-flow: row nowrap;
    margin-right:1vw;
    height: 100%;
    width: max-content;
    justify-content: flex-end;
    align-items: center;
    align-content: stretch;
    flex-grow: 1;
    a{
        text-align:center;
        padding: 100% 1.18vw;
    }
}
#logo{
    margin-left: 1.5vw;
    width: 3.02vh;
    img{
        width:100%;
    }
}
#main{
    width:100%;
    height:200vh;
    overflow: none;
    display:flex;
    align-items: center;
}
#arrow{
    img{
        width: 50%;
    }
}
.text{
    font-family: 'Inter', sans-serif;
    color:#0D508F;
}
.container{
  width: 89.93vw;
  height: 220vh;
  top:0;
  bottom:0;
  right:0;
  left:0;
  margin-left: auto;
  margin-right: auto;
  gap: 2%;
  position: absolute;
  margin-top: 3.41vh;
  display: flex;
  flex-direction: column;
}
.row-ctn{
    display: flex!important;
    flex-direction: row!important;
}
.column-ctn{
    display: flex!important;
    flex-direction: column!important;
    height: 100%;
}
.bolded{
    font-weight: 700;
}
#first-nest{
    width: 100%;
    margin-top: 2%;
    justify-content: center;
    p{
        font-size: 2vw;
    }
    #arrow{
        position:absolute;
        left: 5%;
    }
}
#second-nest{
    align-self: flex-end!important;
    margin-right: 20%;
    margin-top: 5%;
    align-items:center ;
    gap: 10%;
    form{
        width: 10%;
    }
}
.hidden{
    display: none;
}
#third-nest{
    align-items: flex-end;
    justify-content: center;
}
#username{
    font-family: 'Inter', sans-serif;
    font-size: 2vw;
    max-width: 20vw;
}
#body{
    width: 90%;
    height: 100%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    gap: 2%;
    align-items: center;
}
.title-txt{
    font-family: 'Inter',sans-serif;
    font-size: 2vw;
    width: 100%;
    color:#0D508F
}
.write-ctn{
    font-family: 'Inter',sans-serif;
    width: 50%;
    height: 80%;
    font-weight: 200;
}:focus{
    font-weight: 500;
}
#fifth-nest{
    width: 50%;
} 
.wrap{
    height: 33%;
}
#qualification{
    font-family: 'Inter',sans-serif;
    max-width: 15vw;
}
#forth-nest{
    width: 50%;
    height: 100%;
}
.button{
    background-color: white;
    width: 27.24vw;
    height: 8.10vh;
    padding: 2%;
    border-radius: 50px;
    box-shadow: 0px 4px 4px 0px #00000025;
    text-align: center;
    display: flex;
    overflow: hidden!important;
    flex-direction: row;
    align-items: center;
    p{
        margin-left: 5%;
        font-size: 1.2vw;
    }
    img{
        border-radius:25px;
        box-shadow: -8px 0px 6px 0px #00000025;
        height: 50%;
        aspect-ratio: 1/1;
        margin-left: auto;
        padding: 5%;
    }
}
#avatar{
    height: 15vh;
    aspect-ratio: 1/1;
    border-radius: 100%;
}
#footer{
    justify-content: flex-end;
    gap:5%
}
#viniette{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #00000050;
    display: flex;
    justify-content: center;
    align-items: center;
}
#qr-ctn{
    width: 50vw;
    height: 75vh;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 25px;
    align-items: center;
    justify-content: center;
}
#qrtext{
    font-family: 'Inter',sans-serif;
    color: #0D508F;
    font-weight: 700;
    font-size: 1.2vw;
    margin-top: 10%;
}