@media only screen and (max-width: 768px) {
    .container{
        width: 100%!important;
        margin:0!important;
        height: 100vh!important;
    }
    .ctn{
        box-shadow: 0px 5px 4px 0px #00000025;
        width: 100%!important;
        transition:1s;
    }
    #nav-bar{
        background-color: white!important;
    }
    #main{
        box-shadow: none;
    }
    #nav-cc{
        position: absolute;
        top: 18%;
        left: 0;
        height: 1%;
        right: 0;
        text-align: center;
        p{
            font-size: 2vw;
        }
    }
    #title{
        margin-top: 10vh!important;
        font-size: 5vw!important;
    }
    #form{
        flex-direction: column!important;
        gap: 2%;
        input:not(#button){
            width: 95%;
        }
        p{
            font-size: 2.5vw;
        }
        #message{
            width: 95%;
            color: #000000;
        }
        #button{
            position: absolute;
            align-self: center;
            bottom: -5%;
            width: 20.18vw;
            border-radius: 10px!important;
        }
        #button,select,textarea{
            font-size: 3vw;
        }
        #username,#email,#message{
            background-color: white!important;
            outline-color:  #0D508F!important;
            outline-width: 2px;
            outline-style: solid;
            margin-top:1%;
        }
        input,#message{
            font-size: 4vw;
        }
    }

    #black{
        color:#000000;
    }
    .ctn.active{
        overflow: none!important;
        height: 20.9vh;
        display: flex;
        flex-direction: row;
        border-radius: 0px 0px 25px 25px;
        z-index: 1;
        #blob-phn{
            position:relative;
            margin-left: auto;
            margin-top: auto;
            width: 50%;
        }
        #logo{
            align-self:flex-start;
            margin-left: 5%;
            margin-top: 5%;
            transition:1s;
        }
        #nav-arrow{
            position: absolute;
            top:1%;
            right:5%;
        }
    }
    .active{
        display: block!important;
    }
    #nav-items{
        display: none;
    }
    #nav-items.active{
        position: absolute;
        top: 8%;
        left: 15%;
        display: flex!important;
        height: 5%!important;
        flex-flow: column nowrap;
        gap: 40%!important;
        a{
            align-self: start;
            height: 20%!important;
            padding: 0!important;
            font-size: 4vw;
        }
    }
    #nav-arrow.active{
        width: 3.02vw;
        display: flex;
        align-items: center;
        img{
            display: inline-block;
            align-self: center;
            height: 125%;
        }
    }
    #nav-icon{
        height: 100%;
        aspect-ratio: 1/1;
        display: flex;
        align-items: center;
        img{
            display: inline-block;
            align-self: center;
            height: 25%;
        }
    }
    .deactive{
        display: none!important;
    }
}
.phone{
    display: none;
}
*{
    margin:0;
    padding: 0;
}
.text{
    font-family: 'Inter', sans-serif;
    color:#0D508F;
    font-size: 1.4vw;
}
a{
    text-decoration: none;
    color: #0D508F;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}
#nav-bar{
    justify-self: center;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    align-items: center;
    flex-wrap:nowrap;
    justify-content: space-between;
}
.ctn{
    height: 6.73vh;
    width:100%;
    background-color: white;
    box-shadow: -10px -10px 25px 0 #00000025 ;
    border-radius: 1.9vw;
}
#nav-items{
    display: flex;
    flex-flow: row nowrap;
    margin-right:1vw;
    height: 100%;
    width: max-content;
    justify-content: flex-end;
    align-items: center;
    align-content: stretch;
    flex-grow: 1;
    a{
        text-align:center;
        padding: 100% 1.18vw;
    }
}
#logo{
    margin-left: 1.5vw;
    width: 3.02vh;
    img{
        width:100%;
    }
}
#main{
    width:100%;
    height:78.61vh;
    position: absolute;
    top:15.13vh;
    overflow: none;
    display:flex;
    flex-direction: column;
}
#title{
    margin-top: 3.4%;
    font-size: 3vw;
    text-align: center;
    font-weight: 700;
    width: 100%;
}
.container{
  width: 89.93vw;
  height: 200vh;
  top:0;
  bottom:0;
  right:0;
  left:0;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  margin-top: 3.41vh;
  display: flex;
  flex-direction: column;
}
#arrow{
    position: absolute;
    top:5%;
    left: 2%;
    img{
        width: 50%;
    }
}
#form{
    width: 95%;
    height: 100%;
    margin-top: 2%;
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#left-ctn{
    width: 100%;
    row-gap: 3%;
    display: flex;
    flex-direction: column;
}
.wrap{
    background-color: #00000025;
    outline: none;
    font-size: 1.3vw;
    border: none;
    padding: 2%;
    width: 35.55vw;
    border-radius: 6px;
}
#right-ctn{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
}
#message{
    width: 90%;
    height: 50%;
    resize: none;
    line-height: 3vh!important;
    color: #000000;
}
#button{
    font-size: 1vw;
    width: 7.23vw;
    height: 6.3vh;
    border-radius: 19px;
    outline: none;
    border: none;
    background-color: #0D508F;
}
#button, select, textarea{
    color:white
}
