@media only screen and (max-width: 768px) {
  .container {
    width: 100% !important;
    margin: 0 !important;
    height: 200vh !important;
  }
  .ctn {
    -webkit-box-shadow: 0px 5px 4px 0px #00000025;
            box-shadow: 0px 5px 4px 0px #00000025;
    width: 100% !important;
    -webkit-transition: 1s;
    transition: 1s;
  }
  #nav-bar {
    background-color: white !important;
  }
  #second-nest {
    margin: 0 !important;
    -ms-flex-item-align: center !important;
        -ms-grid-row-align: center !important;
        align-self: center !important;
    height: 200vh !important;
  }
  .column-ctn.deactive {
    display: column !important;
  }
  #target {
    gap: 3% !important;
    text-align: center;
  }
  #target #img-wrapper {
    width: 44.53vw !important;
    height: 70.28vh !important;
    border-radius: 25px !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    -ms-flex-item-align: center !important;
        -ms-grid-row-align: center !important;
        align-self: center !important;
    -webkit-box-ordinal-group: 1 !important;
        -ms-flex-order: 0 !important;
            order: 0 !important;
  }
  #target #img-wrapper img {
    height: 150% !important;
    width: auto !important;
  }
  #target #third-nest {
    -webkit-box-ordinal-group: 2 !important;
        -ms-flex-order: 1 !important;
            order: 1 !important;
    height: 120% !important;
    gap: 3% !important;
  }
  #target #third-nest p {
    text-align: center;
  }
  #target #third-nest #name {
    font-size: 4vw;
  }
  #target #third-nest #info {
    max-width: 80% !important;
    -ms-flex-item-align: center !important;
        -ms-grid-row-align: center !important;
        align-self: center !important;
    font-size: 2.5vw !important;
  }
  #target .button-wrapper {
    width: 40% !important;
    height: 100% !important;
    overflow: hidden !important;
  }
  #target .button-wrapper .button {
    width: 100% !important;
    height: 70% !important;
  }
  #target #forth-nest {
    position: inherit !important;
    -ms-flex-item-align: center !important;
        -ms-grid-row-align: center !important;
        align-self: center !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    bottom: unset !important;
    width: 100% !important;
  }
  #target #location {
    -webkit-box-ordinal-group: 4 !important;
        -ms-flex-order: 3 !important;
            order: 3 !important;
  }
  #target #service {
    -webkit-box-ordinal-group: 4 !important;
        -ms-flex-order: 3 !important;
            order: 3 !important;
  }
  #target #contact {
    -webkit-box-ordinal-group: 4 !important;
        -ms-flex-order: 3 !important;
            order: 3 !important;
  }
  #target #site {
    -webkit-box-ordinal-group: 4 !important;
        -ms-flex-order: 3 !important;
            order: 3 !important;
  }
  #target #map {
    -webkit-box-ordinal-group: 3 !important;
        -ms-flex-order: 2 !important;
            order: 2 !important;
    width: 90% !important;
    aspect-ratio: 1/1 !important;
    height: 90% !important;
    -ms-flex-item-align: center !important;
        -ms-grid-row-align: center !important;
        align-self: center !important;
    margin-top: 2% !important;
  }
  #main {
    -webkit-box-shadow: none;
            box-shadow: none;
    top: 10% !important;
  }
  #nav-cc {
    position: absolute;
    top: 9%;
    left: 0;
    height: 1%;
    right: 0;
    text-align: center;
  }
  #nav-cc p {
    font-size: 2vw;
  }
  #black {
    color: #000000;
  }
  .ctn.active {
    overflow: none !important;
    height: 20.9vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    border-radius: 0px 0px 25px 25px;
    z-index: 1;
  }
  .ctn.active #blob-phn {
    position: relative;
    margin-left: auto;
    margin-top: auto;
    width: 50%;
  }
  .ctn.active #logo {
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin-left: 5%;
    margin-top: 5%;
    -webkit-transition: 1s;
    transition: 1s;
  }
  .ctn.active #nav-arrow {
    position: absolute;
    top: 1%;
    right: 5%;
  }
  .active {
    display: block !important;
  }
  #nav-items {
    display: none;
  }
  #nav-items.active {
    position: absolute;
    top: 3%;
    left: 15%;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    height: 5% !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    gap: 10% !important;
  }
  #nav-items.active a {
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
    height: 20% !important;
    padding: 0 !important;
    font-size: 3vw;
  }
  #nav-arrow.active {
    width: 3.02vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #nav-arrow.active img {
    display: inline-block;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    height: 125%;
  }
  #nav-icon {
    height: 100%;
    aspect-ratio: 1/1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #nav-icon img {
    display: inline-block;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    height: 25%;
  }
  .deactive {
    display: none !important;
  }
}

.phone {
  display: none;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #0D508F;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}

#nav-bar {
  justify-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ctn {
  height: 6.73vh;
  width: 100%;
  background-color: white;
  -webkit-box-shadow: -10px -10px 25px 0 #00000025;
          box-shadow: -10px -10px 25px 0 #00000025;
  border-radius: 1.9vw;
}

#nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  margin-right: 1vw;
  height: 100%;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

#nav-items a {
  text-align: center;
  padding: 100% 1.18vw;
}

#logo {
  margin-left: 1.5vw;
  width: 3.02vh;
}

#logo img {
  width: 100%;
}

#main {
  width: 100%;
  height: 78.61vh;
  position: absolute;
  top: 15.13vh;
  overflow: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#arrow {
  justify-self: flex-start;
  margin: 1.5% 0 0 1.5%;
}

#arrow img {
  width: 2%;
}

.text {
  font-family: 'Inter', sans-serif;
  color: #0D508F;
}

#button {
  position: absolute;
  bottom: 10vh;
  font-size: 1vw;
  left: 4.87vw;
  width: 9.18vw;
  height: 7.95vh;
}

#button a {
  color: white !important;
  text-decoration: none;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

#button a:hover {
  background-color: white;
}

.container {
  width: 89.93vw;
  height: 200vh;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  margin-top: 3.41vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.row-ctn {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
}

.column-ctn {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: column !important;
          flex-direction: column !important;
  height: 100%;
}

#first-nest {
  width: 100%;
  height: 100%;
}

#bar {
  height: 40%;
}

#img-wrapper {
  border-radius: 25px;
  width: 14.16vw;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  justify-items: flex-end;
}

#img-wrapper img {
  width: 100%;
}

#second-nest {
  -ms-grid-column-align: center;
      justify-self: center;
  height: 100%;
  width: 95% !important;
  gap: 2%;
  margin-left: 5%;
}

#third-nest {
  gap: 5%;
  width: 100%;
}

#third-nest .text:not(.bolded) {
  max-width: 70%;
}

.bolded {
  font-weight: 800;
  font-size: 1.7vw;
}

#location {
  margin-top: 7%;
}

#map {
  margin-top: 2%;
  border-radius: 25px;
  -webkit-box-shadow: 2px 2px 0px 0px #0D508F, -2px -2px 0px 0px #0D508F;
          box-shadow: 2px 2px 0px 0px #0D508F, -2px -2px 0px 0px #0D508F;
  width: 50%;
  aspect-ratio: 1/1;
}

#forth-nest {
  position: absolute;
  bottom: 5%;
  right: 5%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5%;
}

.button {
  background-color: white;
  padding: 2%;
  border-radius: 15px;
  -webkit-box-shadow: 0px 4px 4px 0px #00000025;
          box-shadow: 0px 4px 4px 0px #00000025;
  text-align: center;
}

.button:not(#last-ctn) {
  width: 13.33vw;
  height: 5.07vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
}

.button:not(#last-ctn) p {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#last-ctn {
  width: 17.08vw;
  height: 5.07vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#last-ctn p {
  margin-left: 20%;
  height: -webkit-min-content !important;
  height: -moz-min-content !important;
  height: min-content !important;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#last-ctn img {
  border-radius: 25px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 7%;
  -webkit-box-shadow: -5px 0px 4px 0px #00000025;
          box-shadow: -5px 0px 4px 0px #00000025;
}

#info {
  font-size: 1vw;
}
/*# sourceMappingURL=detail.css.map */