body{
    overflow-y: hidden;
}
@media only screen and (max-width: 768px) {
    body{
        overflow-y: scroll!important;
    }
    .container{
        width: 100%!important;
        margin:0!important;
        height: 200vh!important;
    }
    .ctn{
        box-shadow: 0px 5px 4px 0px #00000025;
        width: 100%!important;
        transition:1s;
    }
    #nav-bar{
        background-color: white!important;
    }
    #second-nest{
        margin: 0!important;
        align-self: center!important;
        height: 200vh!important;
    }
    .column-ctn.deactive{
        display: column!important;
    }
    #target{
        gap: 3%!important;
        text-align: center;
        #img-wrapper{
            width: 44.53vw!important;
            height: 70.28vh!important;
            border-radius: 25px!important;
            align-items: center!important;
            justify-content: center!important;
            align-self: center!important;
            img{
                height: 150%!important;
                width: auto!important;
            }
            order: 0!important;
        }
        #third-nest{
            order:1!important;
            height: 120%!important;
            gap:3%!important;
            p{
                text-align: center;
            }
            #name{
                font-size: 4vw;
            }
            #info{
                max-width: 80%!important;
                align-self: center!important;
                font-size: 2.5vw!important;
            }
        }
        .button-wrapper{
            width: 40%!important;  
            height: 100%!important;
            overflow: hidden!important;
            .button{
                width: 100%!important;
                height: 70%!important;
            }
        }
        #forth-nest{
            position:inherit!important;
            align-self: center!important;
            align-items: center!important;
            justify-content: center!important;
            bottom:unset!important;
            width: 100%!important;
        }
        #location{
            order: 3!important;

        }
        #service{
            order: 3!important;
        }
        #contact{
            order: 3!important;
        }
        #site{
            order: 3!important;
        }
        #map{
            order: 2!important;
            width: 90%!important;
            aspect-ratio: 1/1!important;
            height: 90%!important;
            align-self: center!important;
            margin-top: 2%!important;
        }

    }
    #main{
        box-shadow: none;
        top: 10%!important;
    }
    #nav-cc{
        position: absolute;
        top: 9%;
        left: 0;
        height: 1%;
        right: 0;
        text-align: center;
        p{
            font-size: 2vw;
        }
    }
    #black{
        color:#000000;
    }
    .ctn.active{
        overflow: none!important;
        height: 20.9vh;
        display: flex;
        flex-direction: row;
        border-radius: 0px 0px 25px 25px;
        z-index: 1;
        #blob-phn{
            position:relative;
            margin-left: auto;
            margin-top: auto;
            width: 50%;
        }
        #logo{
            align-self:flex-start;
            margin-left: 5%;
            margin-top: 5%;
            transition:1s;
        }
        #nav-arrow{
            position: absolute;
            top:1%;
            right:5%;
        }
    }
    .active{
        display: block!important;
    }
    #nav-items{
        display: none;
    }
    #nav-items.active{
        position: absolute;
        top: 3%;
        left: 15%;
        display: flex!important;
        height: 5%!important;
        flex-flow: column nowrap;
        gap: 10%!important;
        a{
            align-self: start;
            height: 20%!important;
            padding: 0!important;
            font-size: 3vw;
        }
    }
    #nav-arrow.active{
        width: 3.02vw;
        display: flex;
        align-items: center;
        img{
            display: inline-block;
            align-self: center;
            height: 125%;
        }
    }
    #nav-icon{
        height: 100%;
        aspect-ratio: 1/1;
        display: flex;
        align-items: center;
        img{
            display: inline-block;
            align-self: center;
            height: 25%;
        }
    }
    .deactive{
        display: none!important;
    }
}
.phone{
    display: none;
}
*{
    margin:0;
    padding: 0;
}
a{
    text-decoration: none;
    color: #0D508F;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}
#nav-bar{
    justify-self: center;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    align-items: center;
    flex-wrap:nowrap;
    justify-content: space-between;
}
.ctn{
    height: 6.73vh;
    width:100%;
    background-color: white;
    box-shadow: -10px -10px 25px 0 #00000025 ;
    border-radius: 1.9vw;
}
#nav-items{
    display: flex;
    flex-flow: row nowrap;
    margin-right:1vw;
    height: 100%;
    width: max-content;
    justify-content: flex-end;
    align-items: center;
    align-content: stretch;
    flex-grow: 1;
    a{
        text-align:center;
        padding: 100% 1.18vw;
    }
}
#logo{
    margin-left: 1.5vw;
    width: 3.02vh;
    img{
        width:100%;
    }
}
#main{
    width:100%;
    height:78.61vh;
    position: absolute;
    top:15.13vh;
    overflow: none;
    display:flex;
    flex-direction: column;
}
#arrow{
    justify-self: flex-start;
    margin:1.5% 0 0 1.5%;
    img{
        width:2%;
    }
}
.text{
    font-family: 'Inter', sans-serif;
    color:#0D508F;
}
#button{
    position:absolute;
    bottom:10vh;
    font-size: 1vw;
    left: 4.87vw;
    width: 9.18vw;
    height: 7.95vh;
    a{
        color: white !important;;
        text-decoration: none;
        width: max-content;
        height: max-content;
    }
    a:hover{
        background-color: white;
    }
}
.container{
  width: 89.93vw;
  height: 200vh;
  top:0;
  bottom:0;
  right:0;
  left:0;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  margin-top: 3.41vh;
  display: flex;
  flex-direction: column;
}
.row-ctn{
    display: flex!important;
    flex-direction: row!important;
}
.column-ctn{
    display: flex!important;
    flex-direction: column!important;
    height: 100%;
}
#first-nest{
    width: 100%;
    height: 100%;
}
#bar{
    height: 40%;
}
#img-wrapper{
    border-radius:25px;
    width: 14.16vw;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-items: flex-end;
    img{
        width: 100%;
    }
}
#second-nest{
    justify-self: center;
    height: 100%;
    width: 95%!important;
    gap:2%;
    margin-left:5%;
}
#third-nest{
    gap: 5%;
    width: 100%;
    .text:not(.bolded){
        max-width: 70%;
    }
}
.bolded{
    font-weight: 800;
    font-size: 1.7vw;
}
#location{
    margin-top: 7%;
}
#map{
    margin-top: 2%;
    border-radius: 25px;
    box-shadow: 2px 2px 0px 0px #0D508F, -2px -2px 0px 0px #0D508F;
    width: 50%;
    aspect-ratio: 1/1;
}
#forth-nest{
    position: absolute;
    bottom: 5%;
    right: 5%;
    align-items: center;
    gap: 5%;
}
.button{
    background-color: white;
    padding: 2%;
    border-radius: 15px;
    box-shadow: 0px 4px 4px 0px #00000025;
    text-align: center;
}
.button:not(#last-ctn){
    width: 13.33vw;
    height: 5.07vh;
    display: flex;
    justify-content: center;
    justify-items: center;
    p{
        align-self: center;
    }
}
#last-ctn{
    width: 17.08vw;
    height: 5.07vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    p{
        margin-left:20%;
        height: min-content!important;
        align-self:center;
    }
    img{
        border-radius: 25px;
        align-self:center;
        height: max-content;
        padding: 7%;
        box-shadow: -5px 0px 4px 0px #00000025;
    }
}

#info{
    font-size: 1vw;
}