@media only screen and (max-width: 768px) {
    #footer-wrapper{
        flex-direction: row!important;
        flex-wrap: wrap!important;
        row-gap: 5%!important;
    }
    #first-nest{
        padding: 0% 5%;
        width: 100%!important;
        order: -1;
        height: 30%!important;
        p:not(.bolded){
            max-width: 40%!important;
        }
    }
    p:not(.bolded){
        font-size: 1.5vw!important;
    }
    p.bolded{
        font-size: 3vw!important;
    }
    #form{
        height: max-content!important;
        #mail{
            margin: 0!important;
        }
    }
    #button{
        width:14.58vw!important;
        height: 3.07vh!important;
        font-size: 1.5vw!important;
        border-radius: 10px!important;
    }
    #third-nest{
        order: 2!important;
        width: 50%!important;
    }
    #second-nest{
        order:4;
        width: 50%!important;
        p:not(.bolded){
            max-width: 90%!important;
        }

    }
    .card-wrapper{
        display: block!important;
        width: 90%!important;
        height: 20%!important;
        margin-bottom: 5%!important;
    }:hover{
        width: 90%!important;
    }
    .card-wrapper:hover .show{
        display: block!important;
    }
    .card-wrapper:hover .hidden{
        display: none!important;
    }
    .card-content{
        flex-direction: row!important;
        gap: 2%!important;
        align-items: center!important;
    }
    .img-wrapper{
        height: 100%!important;
        width: min-content!important;
        justify-content: flex-start!important;
    }
    .card-short-name{
        margin-top: 0!important;
        height: 20%!important;
    }
    .card-info{
        height: 20%!important;
        justify-self: flex-end!important;
    }
    .container{
        width: 100%!important;
        margin:0!important;
        height: 140vh!important;
        gap: 1% !important;
    }
    .ctn{
        width: 100%!important;
        transition:1s;
    }
    #nav-bar{
        background-color: white!important;
    }
    #main{
        box-shadow: none;
        top: 5%!important;
        gap:2%!important;
    }
    #card-section{
        overflow-x: hidden!important;
        overflow-y:scroll!important;
    }
    #description{
        order:2
    }
    #title{
        font-size: 7vw!important;
    }
    #card-section{
        order:3
    }
    #nav-cc{
        position: absolute;
        top: 13%;
        left: 0;
        height: 1%;
        right: 0;
        text-align: center;
        p{
            font-size: 2vw;
        }
    }
    #black{
        color:#000000;
    }
    #nav-bar{
        box-shadow: 0px 5px 4px 0px #00000025!important;
    }
    .ctn.active{
        overflow: none!important;
        height: 20.9vh;
        display: flex;
        flex-direction: row;
        border-radius: 0px 0px 25px 25px;
        z-index: 1;
        #blob-phn{
            position:relative;
            margin-left: auto;
            margin-top: auto;
            width: 50%;
        }
        #logo{
            align-self:flex-start;
            margin-left: 5%;
            margin-top: 5%;
            transition:1s;
        }
        #nav-arrow{
            position: absolute;
            top:1%;
            right:5%;
        }
    }
    .active{
        display: block!important;
    }
    #nav-items{
        display: none;
    }
    #nav-items.active{
        position: absolute;
        top: 6%;
        left: 15%;
        display: flex!important;
        height: 3%!important;
        flex-flow: column nowrap;
        gap: 50%!important;
        a{
            align-self: start;
            height: 20%!important;
            padding: 0!important;
            font-size: 2.5vw;
        }
    }
    #nav-arrow.active{
        width: 3.02vw;
        display: flex;
        align-items: center;
        img{
            display: inline-block;
            align-self: center;
            height: 125%;
        }
    }
    #nav-icon{
        height: 100%;
        aspect-ratio: 1/1;
        display: flex;
        align-items: center;
        img{
            display: inline-block;
            align-self: center;
            height: 25%;
        }
    }
    .deactive{
        display: none!important;
    }
    footer{
        top:130%!important;
    }
}
.phone{
    display: none;
}
*{
    margin:0;
    padding: 0;
}
footer{
    position: absolute;
    top: 145%;
    p{
        width: 100vw;
        text-align: center;
    }
}
a{
    text-decoration: none;
    color: #0D508F;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}
#nav-bar{
    justify-self: center;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    align-items: center;
    flex-wrap:nowrap;
    justify-content: space-between;
}
.ctn{
    height: 6.73vh;
    width:100%;
    background-color: white;
    box-shadow: -10px -10px 25px 0 #00000025 ;
    border-radius: 1.9vw;
}
#nav-items{
    display: flex;
    flex-flow: row nowrap;
    margin-right:1vw;
    height: 100%;
    width: max-content;
    justify-content: flex-end;
    align-items: center;
    align-content: stretch;
    flex-grow: 1;
    a{
        text-align:center;
        padding: 100% 1.18vw;
    }
}
#logo{
    margin-left: 1.5vw;
    width: 3.02vh;
    img{
        width:100%;
    }
}
#main{
    width:100%;
    height:78.61vh;
}
.text{
    font-family: 'Inter', sans-serif;
    color:#0D508F;
}
.container{
  width: 89.93vw;
  height: 140vh;
  top:0;
  bottom:0;
  right:0;
  left:0;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  margin-top: 3.41vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 5%;
}
#title{
    margin-top: 2%;
    font-size:2.864vw;
    font-weight: 800;
    font-family: 'Inter', sans-serif;
    color:#0D508F;
}
#main{
    display: flex;
    flex-direction: column;
    align-items:center ;
    overflow: hidden;
    row-gap: 4%;
}
#card-section{
    overflow-x: scroll;
    overflow-y: hidden;
    flex-grow: 0;
    max-width: 80%;
    white-space: nowrap;
    align-self:flex-start;
    margin-left: 9vw;
    height: 100%;
    width: 100%;
    gap:50px
}
.img-wrapper{
    height: 35vh;
    border-radius: 25px;
    flex-basis: 2;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    img{
        position: relative;
        height: 100%;
        transition: 1s;
    }
}
.card-short-name{
    height: 5%;
    margin-top: 30%;
}
.card-wrapper{
    display: inline-block;
    width: 8vw;
    margin-right: 1.5vw;
    height: 90%;
    border-radius: 25px;
    box-shadow: 0px 4px 4px #00000025;
    overflow: hidden;
    transition: 1s;
    .card-content{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        overflow: hidden;;
        align-items: center;
        transition: 1s;
    }
    .info-text{
        width: 100%!important;
    }
}
.card-wrapper:hover{
    width: 15.1vw;
    .card-wrapper{
        height: 90%;
    }
    .show{
        display:none;
    }
    .hidden{
        display: block;
    }
    .card-full-name{
        margin-top: 5%;
    }
}
.hidden{
    display: none;
    justify-self: center;
}
#description{
    margin-bottom: 2%;
}

#footer{
    position: relative;
    height: 33.33vh;
    order:20;
    display: flex;
    flex-direction: column;
    justify-items: center;
}
#footer-wrapper{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 90%;
}
#footer{
    .text:not(.bolded){
        color:#000;
        font-size:0.8vw;
        max-width:70%;
    }
}
.item-ctn{
    width: 33%;
    height: 100%;
}
#footer{

.bolded{
    font-weight: 700;
    font-size: 1.3vw;
}
}
#form{
    width: 100%;
    height: 20%;
    #mail{
        border-color: #0D508F;
        border-style:solid;
        border-radius: 5px;
        width: 50%;
        margin-top: 5%;
        font-size:1.5vw;
        padding:1%!important;
        height: 100%;
    }
    #button{
        font-size: 1vw;
        width: 7.23vw;
        height: 6.3vh;
        border-radius: 19px;
        outline: none;
        border: none;
        background-color: #0D508F;
    }
    #button, select,textarea{
        color: white;
    }
}
#tou{
    max-width: 75%;
    font-size: 0.9vw;
}
.card-info{
    text-decoration: underline;
    font-weight: 100;
}